<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card text-center">
      <header class="card-header">
        <h4 class="card-title mt-2"><%= t('events.new.title') %></h4>
      </header>
      <article class="card-body"> 
      <%= render 'form' %>
      </article>
    </div>
  </div>
</div>
